* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #00001a;
    font-family: consolas;
}

#main {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 3px rgb(141, 141, 141) solid;
    margin-top: 20px;
    padding-top: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
	background-color: black;
}

#output {
    color: rgb(0, 188, 0);
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
    height: 94%;
    overflow: auto;
}

#output::-webkit-scrollbar {
    width: 0.8vw;
}

#output::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#output::-webkit-scrollbar-thumb {
    background-color: white;
	border-radius: 5%;
}

#inputBox {
    width: 100%;
    display: flex;
    height: 6%;
    border: rgb(141, 141, 141) 1px solid;
    border-top: none;
}

#inputBox input {
    width: 95%;
    border: none;
    resize: none;
    background-color: rgb(194, 194, 194);
    padding: 5px;
    font-size: 3vh;
}

#inputBox button {
    width: 5%;
    border: none;
    border-left: 1px black dotted;
    background-color: rgb(194, 194, 194);
}

